<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>

<body>
        <div class="container">
        <h1>Login</h1>
        <form action="/auth/login" method="post">
            <label for="username">Username:</label> <br>
            <input type="text" name="username" id="username">

              <br>
              <br>
            <label for="password">Password:</label> <br>
            <input type="password" name="password" id="password">

              <br>
              <br>
            <button class="login-btn">Login</button>
        </form>
        <br>
        <a href="/auth/sign-up">Sign Up</a>
        <a href="/auth/guest">Continue as Guest</a>
      
        <% if (error) { %>
            <p style="color:red" class="error">
                <%= error %>
            </p>
            <% } %>  
      
      </div>

        

   
      

</body>

</html>