<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>

    <div class="container">
    <h1>Sign Up</h1>
    <form action="/auth/sign-up" method="post">
        <label for="username">Username:</label>
        <br>
        <input type="text" name="username" id="username">

        <br>
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" name="password" id="password">

        <br>
        <br>
        <button class="signup-btn">Sign Up</button>
    </form>
    <br>
    <%- include('../partials/navbar') %>
    <a href="/auth/guest">Continue as Guest</a>
    
    </div>
    
    <% if (error) { %>
  <p style="color:red" class="error"><%= error %></p>
<% } %>

</body>
</html>