
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/books">All books</a>
    <h1>Your Reading List</h1>
    <% readingList.forEach((book) => { %>
    <h2><%= book.title %></h2>
    <p><%= book.author %></p>
    <p><%= book.genre %></p>
    <hr>
    <% }) %>

</body>
</html>