body{
    background-color: rgb(127, 222, 190);
    
}

.container{
    margin: 0 auto;
    margin-top: 30px;
    border: 2px black solid;
    border-radius: 15px;
    background-color: white;
    width: 900px;
    padding: 20px;
    height: 100%;
   
    
}


label{
    font-size: 20px;
    font-weight: bold;
}

input, select, textarea{
    padding: 10px 70px;
    border: 2px black solid;
    border-radius: 10px;
    font-size: 15px;
}

.add-btn{
    margin-top: 5px;
    padding: 10px 30px;
    border: 2px black solid;
    border-radius: 10px;
    font-size: 15px;
   
}


