body{
    background-image: url("/images/book.jpg");
    color: white;
    display: flex;

    
    
}

h1{
    text-align: center;
    font-size: 80px;

    margin-top: 190px;
    margin-left: 250px;
}

a{
    color: white;
text-decoration: none;
}

.navbar{
    font-size: 25px;
}
.allbooks-page-link{
    margin-left: 440px;
    font-size: 50px;
    background-color: black;
    padding: 10px 25px;
    border-radius: 8px;
    border:  5px white solid;
}

.container{
    color: black;
    margin-left: 200px;
    background-color: white;
    border: 5px black solid;
    padding: 50px;
    height: 100%; 
    
   
    
}


label{
    font-size: 20px;
    font-weight: bold;
}

input, select, textarea{
    padding: 10px 70px;
    border: 2px black solid;
    border-radius: 10px;
    font-size: 15px;
}

.add-btn{
    margin-top: 5px;
    padding: 10px 30px;
    border: 2px black solid;
    border-radius: 10px;
    font-size: 15px;
   
}


